<?php

//Impostazioni database Postgresql
define('DB_NAME', 'MY_DB_NAME');
define('DB_SCHEMA', 'MY_SCHEMA_NAME');
define('USER_SCHEMA', 'MY_USER_SCHEMA_NAME');
define('CHAR_SET', 'UTF-8');
define('DB_HOST', 'MY_DB_HOST');
define('DB_PORT', '5432');
define('DB_USER', 'MY_DB_ADMIN_USER'); //Superutente
define('DB_PWD', 'MY_DB_ADMIN_PASSWORD');

// **** GeoNote/Redline DB config
// **** Se omessa viene usata la connessione al DB standard
/*
define('REDLINE_DB', 'MY_REDLINE_DB');
define('REDLINE_SCHEMA', 'MY_REDLINE_SCHEMA);
define('REDLINE_TABLE', 'MY_REDLINE_TABLE');
define('REDLINE_HOST', 'MY_REDLINE_HOST');
define('REDLINE_PORT', 'MY_REDLINE_PORT);
define('REDLINE_USER', 'MY_REDLINE_USER'); // Read/Write access
define('REDLINE_PWD', 'MY_REDLINE__PWD');
*/
*
// **** Print Vectors config
// **** Se omessa viene usata la connessione al DB standard
/*
define('PRINT_VECTORS_DB', 'MY_PRINT_VECTORS_DB');
define('PRINT_VECTORS_SCHEMA', 'MY_PRINT_VECTORS_SCHEMA');
define('PRINT_VECTORS_TABLE', 'MY_PRINT_VECTORS_TABLE');
define('PRINT_VECTORS_HOST', 'MY_PRINT_VECTORS_HOST');
define('PRINT_VECTORS_PORT', 'MY_PRINT_VECTORS_PORT');
define('PRINT_VECTORS_USER', 'MY_PRINT_VECTORS_USER'); // Read/Write access
define('PRINT_VECTORS_PWD', 'MY_PRINT_VECTORS_PWD');
*/

//Utente scritto sul file .map
define('MAP_USER','MY_DB_MAPSERVER_USER');
define('MAP_PWD','MY_DB_MAPSERVER_PASSWORD');

// user with manager permission (can create new users and groups)
define('SUPER_USER', 'admin');
define('SUPER_USER_CLIENT_COMPONENTS',"StreetViewControl:1:alone,LayerTreeButton:1:data,QueryControl:2:data,PrintControl:1:zprint,ReferenceMapControl:2:zprint,UnRedoControl:3:alone,ReportControl:3:data,MeasureControl:1:tools,GeoNoteControl:2:tools,PipeSelectControl:3:tools");
